@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;/*para poder usar o absolute*/
    height: 100vh;
}

section#telefone{
    position: absolute; /*deixa usar o top e left*/
    top: 50%; /*cima*/
    left: 50%;/*esquerda*/
    transform: translate(-50% , -50%); /* tranforma a translate em -50% fazendo a imagem fica centralizada*/

    height: 627px;
    width: 311px;

    background-image: url(../imagens/frame-iphone.png);
    
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
    
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
    box-sizing: border-box;
}
section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform 0.5s; /*transição da transformação seja de 0.5 segundos*/
    transition: border 0.2s;
}
